<!DOCTYPE html>
   <head>
        <title>
            {{ title }}
        </title>
        <style>
            body

            {
                font-family: arial,verdana,sans-serif,Georgia, "Times New Roman", Times, serif;
                 background:#cceeff;

            }
            h1
            {
                text-shadow: 5px 5px 5px #aaaaaa;
            }
        </style>
    </head>

   <body>
   <center>
        <br></br>
        <div>
         <img src="static/RiegoP.png"  alt="Raspberry Pi Cluster$"/>
        </div>
        <br></br>
        <h3>{{Fecha}}</h3>
        <br></br>
       <!-- <h3>Riego:{{RI}}</h3>-->
        <br></br>
        <h2> MOTOBOMBA:</h2>
        <h3> 
	<a href="/on" class="button"><img src="static/ON.png" ></a>  
	<a href="/off"class="button"><img src="static/OFF.png"></a>
	</h3>
        <br></br>
        <a href="/"><img src="static/Regresar.png" alt="Raspberry Pi Cluste$"/></a>
        <footer>
                        <div class="container">
                                <div class="row">
                                        <p clas="copyright text-muted">&copy; Universidad Ibague 2018</p>

                                </div>
                        </div>
        </footer>

   </center>	
   </body>
</html>
